* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
    font-weight: 200;
    font-size: large;
    font-weight: 300;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 600;
    line-height: 1.2;
}

.text:hover {
    color: green;
    transition-duration: 500ms;
}

.button {
    color: blue;
}

.carousel-inner {
    height: 550px;
}